@define-color selected-text #8caaee;
@define-color text #b5bfe2;
@define-color base #303446;
@define-color border #8caaee;
@define-color foreground #b5bfe2;
@define-color background #303446;


/* Walker Window Border */
window .box-wrapper {
    border-radius: 8px;
    border: 6px solid @border;  
    padding: 18px 22px;
    background: @base;
}
