@define-color bg #303446;
@define-color fg #b5bfe2;
@define-color gray1 #a6d189;
@define-color gray2 #51576d;
@define-color gray3 #8caaee;
@define-color gray4 #e5c890;
@define-color gray5 #ca9ee6;
@define-color fg_bright #b5bfe2;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}